/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: Pizzaria;
    src: url("../assets/Pizzaria-MVZrJ.ttf");
}

/* General styling */

*, *::after, *::before{
    box-sizing: border-box;
}

:root{
    --clr-primary: hsl(34, 60%, 50%);
    --clr-primary-dark: hsl(34, 60%, 40%);
    --clr-primary-light: hsl(34, 50%, 97%);

    --clr-semi-light: hsl(0, 0%, 70%);
    --clr-light: hsl(0, 0%, 98%);

    --clr-accent-blue: hsl(204, 85%, 70%);
    --clr-accent-red: hsl(0, 86%, 70%);
    --clr-accent-green: hsl(108, 60%, 70%);

    --fs-x-large: 4rem;
    --fs-large: 1.7rem;
    --fs-medium: 1.2rem;
    --fs-small: .8rem;

    --fw-bold: 600;
    --fw-medium: 500;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}

p{
    margin: 0;
}

img{
    max-width: 7rem;
}

button{
    border: none;
    border-radius: .2rem;
    padding: .5rem 1rem; 
    cursor: pointer;
    font-size: inherit;
}

button:hover{
    background-color: var(--clr-primary-dark);
}

/* Typography */

a{
    color: var(--clr-light);
}

/* Layout */

header{
    background-image: url("../assets/pizza.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    flex: 2;
}

.logo{
    margin: 5rem 0;
    font-family: Pizzaria;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.credit{
    margin-top: auto;
}

.login{
    margin-bottom: 1rem;
}

.desc,
.form-wrapper,
.credit,
.login{
    padding: 1rem;
}

/* Form */

.form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 .5rem var(--clr-semi-light);
}

.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30em;
    gap: .7rem;
    margin-top: 1rem;
}

.row{
    display: flex;
    flex-direction: column;
    gap: .1rem;
}

.row > p{
    visibility: hidden;
    max-width: 12.4rem;
}

.row > p::before{
    content: '\2757';
    display: inline-block;
    width: 1rem;
    aspect-ratio: 1 / 1;
    margin-right: .1rem;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    color: var(--clr-light);
    background-color: var(--clr-accent-red);
}

label{
    font-size: .8rem;
    text-transform: uppercase;
    margin-left: .2rem;
}

input{
    border: 1px solid var(--clr-semi-light);
    border-radius: .2rem;
    padding: .3rem;
    font-size: .9rem;
    outline: none;
}

input:focus{
    border-color: var(--clr-accent-blue);
    box-shadow: 0 0 .1rem var(--clr-semi-light);
}

input::placeholder{
    color: var(--clr-semi-light);
}

.invalid{
    border-color: var(--clr-accent-red);
}

.valid{
    border-color: var(--clr-accent-green);
}

/* Utility classes */

.text-center{
    text-align: center;
}

.fs-x-large{
    font-size: var(--fs-x-large);
}

.fs-large{
    font-size: var(--fs-large);
}

.fs-medium{
    font-size: var(--fs-medium);
}

.fs-small{
    font-size: var(--fs-small);
}

.fw-bold{
    font-weight: var(--fw-bold);
}

.fw-medium{
    font-weight: var(--fw-medium);
}

.text-clr-light{
    color: var(--clr-light);
}

.text-clr-primary{
    color: var(--clr-primary);
}

.text-clr-accent-red{
    color: var(--clr-accent-red);
}

.text-line-through{
    text-decoration: line-through;
}

.bgc-primary-light{
    background-color: var(--clr-primary-light);
}

.bgc-primary{
    background-color: var(--clr-primary);
}

.bgc-light{
    background-color: var(--clr-light);
}

.bgc-transparent-dark{
    background-color: rgba(0, 0, 0, 0.4);
}

.bgc-transparent-x-dark{
    background-color: rgba(0, 0, 0, 0.6);
}

/* Media queries */

@media (min-width: 60em) {

    body{
        flex-direction: row;
    }

    header{
        flex: 1;
    }

    .logo{
        margin-top: 10rem;
    }

    .form-wrapper{
        align-items: flex-start;
    }

    .register-form{
        flex-direction: row;
        flex-wrap: wrap;
    }

    form > p{
        width: 100%;
    }

    .row > p{
        min-height: 2rem;
    }
    
}